{% extends "layout.html" %}

{% block content %}

<h1>Artikel bewerken</h1>

<form method="POST">

    Titel:
    <input type="text" name="title" value="{{ article[1] }}">

    Auteur:
    <input type="text" name="author" value="{{ article[2] }}">

    Afdeling:
    <input type="text" name="department" value="{{ article[3] }}">

    Categorie:
    <input type="text" name="category" value="{{ article[4] }}">

    Versie:
    <input type="text" name="version" value="{{ article[5] }}">

    Inhoud:
    <textarea name="content" rows="6">{{ article[6] }}</textarea>

    Video link:
    <input type="text" name="video_link" value="{{ article[7] }}">

    <button type="submit">Opslaan</button>

</form>

{% endblock %}
